body {
    margin-top: 80px;  


}

.container {
      text-align: center;
}



p {

    width:50%;
    margin: auto;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    color:grey;
}

.breadcrumb {
          text-align: left !important;

}
